* {
  font-family: 'Gill Sans', sans-serif;
}

main {
  min-height: 100dvh;
}

header {
  border-color: #d3592a !important;
}

.text-orange {
  color: #d3592a !important;
}

.text-orange:hover {
  color: #a9461e !important;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #d3592a;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title-text {
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

.active .page-link {
  background: #d3592a !important;
  color: #fff !important;
  outline: none;
  border: none;
}
.page-link {
  color: #000 !important;
  outline: none;
  border: none;
}
