/*Bootrstrap override bg for ProductCarousel, Product*/

.bg-primary{
    background-color: #212234 !important;
}

/* Product Card Exclusive */

.p-2{
    background: #212234;
}

/* New Classes for Product Card*/

.card-hover:hover {
  transform: scale(1.04);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

/* Carousel Arrow Styles */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: white !important;
  border-radius: 50% !important;
  padding: 10px !important;
  opacity: 0.8 !important;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  opacity: 1 !important;
}